﻿#popup_container {
	position: fixed;
top: 50%;
left: 50%;
z-index: 1050;
width: 360px;
margin: -250px 0 0 -280px;
background-color: white;
border: 1px solid #999;
border: 1px solid rgba(0, 0, 0, 0.3);
-webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;
-webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
-moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
-webkit-background-clip: padding-box;
-moz-background-clip: padding-box;
background-clip: padding-box;
}


/*corner style*/
#ctl, #cbl, #ctr, #cbr { 
position:absolute; width:5px; height:5px;  
overflow:hidden; font-style:normal; z-index:99999;
background:#fff url(../img/alert/corners.gif) no-repeat ;}
#ctl {top:-1px; left:-1px;background-position:0 0;background-color:#dae7f6;}
#ctr {top:-1px; right:-1px;background-position:-5px 0;background-color:#dae7f6;}
#cbl {bottom:-1px; left:-1px;background-position:0 -5px;}
#cbr {bottom:-1px; right:-1px;background-position:-5px -5px;}
/*corner style over*/


#popup_title {
	padding: 9px 15px;
	border-bottom: 1px solid #EEE;
}
button#popup_close {
padding: 0;
cursor: pointer;
background: transparent;
border: 0;
-webkit-appearance: none;
}
#popup_close{
position:absolute;
right:10px;top:12px;
font-size: 20px;
font-weight: bold;
line-height: 18px;
color: black;
text-shadow: 0 1px 0 white;
opacity: 0.2;
filter: alpha(opacity=20);
cursor:hand;
cursor:pointer;
}
#popup_close:hover
{
    color: black;
text-decoration: none;
cursor: pointer;
opacity: 0.4;
filter: alpha(opacity=40);
}

#popup_content {
	background: 16px 16px no-repeat;
	padding: 12px;
	margin: 0em;
}

#popup_container .alert {
	background-image: url(../img/alert/info.png);
}

#popup_container .confirm {
	background-image: url(../img/alert/important.png);
}

#popup_container .prompt {
	background-image: url(../img/alert/help.png);
}

#popup_message {
	padding-left: 48px;
}

#popup_panel {
	text-align: center;
	margin: 1em 0em 0em 1em;
}

#popup_prompt {
	margin: .5em 0em;
}

#popup_content.openBox{padding:12px;background:none; }
.openBox #popup_message{padding:0;overflow:auto;}

#over_container{
min-width: 300px; /* Dialog will be no smaller than this */
background:#DDEDFB;
border:1px solid #0099CC;
color: #000;
}
#over_message{
text-align:center; 
padding:5px 20px;}

#over_container.over_3{
background:#FFF2F2;
border:1px solid #FF8080;}