.table thead tr td, .table thead tr th{
    background-color: #FFF;
    
}

.tooltip.right .tooltip-arrow, .tooltip.bottom .tooltip-arrow, .tooltip.left .tooltip-arrow {
  border-top-color: #e2e2e2 !important;
}

table.dataTable thead th, table.dataTable thead td {
    padding: 10px 18px;
    border-bottom: 1px solid #ddd !important;
}

.dataTables_wrapper.no-footer .dataTables_scrollBody {
    border-bottom: 1px solid #ddd !important;
}

table.dataTable.no-footer {
    border-bottom: 1px solid #ddd !important;
}