form .form-group label, form .form-group span, form .form-group input[type=text], form .form-group input[type=password], form .form-group input[type=number], form .form-group input[type=email], form .form-group input[type=url], form .form-group input[type=tel], form .form-group input[type=date], form .form-group input[type=time], form .form-group .tooltip-validation, form .form-group textarea, form .form-group .select, form .form-group .checkbox-inline, form .form-group .radio-inline, form .form-group .checkbox, form .form-group .radio, form .form-group .toggle-switch, form .form-group button, form .form-group a, form .form-group input[type=button], form .form-group input[type=submit], form .form-group .btn, .form .form-group label, .form .form-group span, .form .form-group input[type=text], .form .form-group input[type=password], .form .form-group input[type=number], .form .form-group input[type=email], .form .form-group input[type=url], .form .form-group input[type=tel], .form .form-group input[type=date], .form .form-group input[type=time], .form .form-group .tooltip-validation, .form .form-group textarea, .form .form-group .select, .form .form-group .checkbox-inline, .form .form-group .radio-inline, .form .form-group .checkbox, .form .form-group .radio, .form .form-group .toggle-switch, .form .form-group button, .form .form-group a, .form .form-group input[type=button], .form .form-group input[type=submit], .form .form-group .btn {
    margin-top: 6px;
    margin-bottom: 6px;
}

form .form-group>label:not(:first-child), form .form-group>span:not(:first-child), form .form-group>input[type=text], form .form-group input[type=password], form .form-group input[type=number], form .form-group input[type=email], form .form-group input[type=url], form .form-group input[type=tel], form .form-group input[type=date], form .form-group input[type=time], form .form-group>.tooltip-validation, form .form-group>.select, form .form-group>.checkbox-inline, form .form-group>.radio-inline, form .form-group>button, form .form-group>a, form .form-group>input[type=button], form .form-group input[type=submit], form .form-group>.btn, .form .form-group>label:not(:first-child), .form .form-group>span:not(:first-child), .form .form-group>input[type=text], .form .form-group input[type=password], .form .form-group input[type=number], .form .form-group input[type=email], .form .form-group input[type=url], .form .form-group input[type=tel], .form .form-group input[type=date], .form .form-group input[type=time], .form .form-group>.tooltip-validation, .form .form-group>.select, .form .form-group>.checkbox-inline, .form .form-group>.radio-inline, .form .form-group>button, .form .form-group>a, .form .form-group>input[type=button], .form .form-group input[type=submit], .form .form-group>.btn {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    margin-left: 0;
    margin-right: 12px;
}

input[type=text], input[type=password], input[type=number], input[type=email], input[type=url], input[type=tel], input[type=date], input[type=time] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 0;
    box-shadow: none;
    background: none;
    height: 24px;
    display: inline-block;
    min-width: 60px;
    border-bottom: 1px solid #9a9a9a;
    background: linear-gradient(to bottom, transparent 95%, #0094d2 95%) no-repeat;
    background-size: 0% 100%;
    transition: background-size 0.2s ease;
    padding: 0 6px;
}

input[type=text]:focus, input[type=password]:focus, input[type=number]:focus, input[type=email]:focus, input[type=url]:focus, input[type=tel]:focus, input[type=date]:focus, input[type=time]:focus {
    border-bottom: 1px solid #0094d2;
    background-size: 100% 100%;
}

input[type=text]:focus, input[type=password]:focus, input[type=number]:focus, input[type=email]:focus, input[type=url]:focus, input[type=tel]:focus, input[type=date]:focus, input[type=time]:focus {
    outline: 0;
}

input, button, select, textarea {
    border-radius: 0;
}

button, input {
    overflow: visible;
}

button, input, optgroup, select, textarea {
    font: inherit;
    margin: 0;
}

form .form-group>textarea, .form .form-group>textarea {
    margin-left: 0;
    margin-right: 12px;
}

textarea {
    resize: vertical;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 12px 6px;
}

textarea {
    resize: vertical;
}

textarea {
    overflow: auto;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 0;
    box-shadow: none;
    background: none;
    height: 24px;
    display: inline-block;
    min-width: 60px;
    border-bottom: 1px solid #9a9a9a;
    background: linear-gradient(180deg,transparent 95%,#0094d2 0) no-repeat;
    background-size: 0 100%;
    transition: background-size .2s ease;
    padding: 0 22px 0 6px;
    cursor: pointer;
    width: 100%;
    z-index: 2;
}

.select, .select select {
    position: relative;
}

.select select:active, .select select:hover {
    border-color: hsla(0,0%,87%,.5);
    background: hsla(0,0%,87%,.5);
}

.select select:focus {
    outline: 0;
    border-bottom: 1px solid #0094d2;
    background-size: 100% 100%;
}

.select:after {
    position: absolute;
    font: normal normal normal 14px/1 FontAwesome;
    content: "\f107";
    height: 10px;
    width: 10px;
    top: 5px;
    right: 6px;
    vertical-align: middle;
    margin: 0;
}

button, select {
    text-transform: none;
}

.tooltip.tooltip-validation.invalid>input {
    border-bottom: 1px solid #c92100;
    background: linear-gradient(180deg,transparent 95%,#c92100 0);
    transition: none;
}