.card {
    margin-bottom: 30px;
    border: none;
    -webkit-box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.06), 0 1px 0px 0 rgba(0, 0, 0, 0.02);
    box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.06), 0 1px 0px 0 rgba(0, 0, 0, 0.02);
}

.card {
    position: relative;
    display: block;
    margin-bottom: .75rem;
    background-color: #fff;
    border-radius: .25rem;
    border: 1px solid rgba(0,0,0,.125);
}

.card-header:first-child {
    border-radius: .25rem .25rem 0 0;
}

.card-header-bar {
    padding: .75rem 1.25rem;
    background-color: #f5f5f5;
    border-bottom: 1px solid rgba(0,0,0,.125);
}

.card-header {
    padding: 10px;
    background-color: transparent;
    color: #444;
    border-bottom: none;
}

.card-block {
    padding: 0 10px;
}

.content{
    padding-top: 0 !important; 
}

.badge-number:after {
    content: '';
    position: absolute;
    top: -3px;
    right: -3px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    opacity: 0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    animation: sonar 1.5s infinite;
    -moz-animation: sonar 1.5s infinite;
    -ms-animation: sonar 1.5s infinite;
    -webkit-animation: sonar 1.5s infinite;
}

.badge-number {
    cursor: default;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    color: #fff;
    font-weight: bold;
    font-size: 10px;
    height: 6px;
    letter-spacing: -1px;
    line-height: 10px;
    top: 10px;
    right: 10px;
    position: absolute;
    text-align: center;
    width: 6px;
}

.bg-success {
    background-color: #15d4be !important;
}

.bg-danger {
    background-color: #ff6262 !important;
}

.icon-header {
    position: absolute;
    right: 10px;
    top: 10px;
    color: #ccc;
}