/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 1 ก.ค. 2558, 19:07:48
    Author     : Balz
*/ 
/*#radioIcon{
    margin:20px;
}   */
#formshow{
    margin-bottom:25px;
   
}
#rowItem{
    positon:ralative;
    
}

    .buttonItem{
        position: absolute;
        right: 14px;
        top: -4px;
    }
    #form-title{
        height: 50px;
        font-size: 20px;
        height: 100%;
    }
    #showPanel{

        box-shadow: 1px 0 10px 1px rgba(0,0,0,0.3);
        z-index: 1;
        position: relative;

    }
    hr{
       border:1px solid black !important;
    }
    #addPanel{
        background-color: #fbfbfb;
        padding:20px;
        position: relative;
        zoom: 1;
        z-index: 1;
    }

#formPanel  input[type=radio] {
     transform: scale(2, 2);
     -moz-transform: scale(2, 2);
     -ms-transform: scale(2, 2);
     -webkit-transform: scale(2, 2);
     -o-transform: scale(2, 2);

     margin-right: 10px !important;
     margin-left: 10px !important;

 }
#formPanel  input[type=checkbox] {
    transform: scale(2, 2);
    -moz-transform: scale(2, 2);
    -ms-transform: scale(2, 2);
    -webkit-transform: scale(2, 2);
    -o-transform: scale(2, 2);
    margin-right: 10px !important;


}
#formPanel .radio label, .checkbox label{
    margin-left: 10px !important;
    padding-right: 10px !important;

}

