.article-item {
  margin-bottom: 15px;
}
.article-item .article-title,
.article-item .article-title a {
  color: inherit;
  margin: 0;
}
.article-item .article-meta,
.article-item .article-meta a {
  color: #999;
  font-size: .85em;
}
.article-item .article-meta a {
  text-decoration: underline;
}
.article-item .article-thumb {
  margin-right: 10px;
  margin-bottom: 10px;
}
.article-item .article-text {
  margin-top: 7px;
}
html,
body {
  height: 100%;
}
.wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -60px;
  padding: 0 0 60px;
}
.wrap > .container {
  padding: 70px 15px 20px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}
.not-set {
  color: #c55;
  font-style: italic;
}
/* add sorting icons to gridview sort links */
a.asc:after,
a.desc:after {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  padding-left: 5px;
}
a.asc:after {
  content: "\e151";
}
a.desc:after {
  content: "\e152";
}
.sort-numerical a.asc:after {
  content: "\e153";
}
.sort-numerical a.desc:after {
  content: "\e154";
}
.sort-ordinal a.asc:after {
  content: "\e155";
}
.sort-ordinal a.desc:after {
  content: "\e156";
}
.grid-view th {
  white-space: nowrap;
}
.hint-block {
  display: block;
  margin-top: 5px;
  color: #999;
}
.error-summary {
  color: #a94442;
  background: #fdf7f7;
  border-left: 3px solid #eed3d7;
  padding: 10px 20px;
  margin: 0 0 15px 0;
}
/*# sourceMappingURL=style.map */

.list-wrapper .summary{
    margin-bottom: 10px;
    float: right;
}


.disabledDisplay{
    display: none;
}

.show-in-line{
    position: absolute;
    left: 150px;
    top: 0px;
}

.sdloader-icon{
	display: inline-block;
	width: 16px;
	height: 11px;
	line-height: 11px;
	vertical-align: text-top;
	background-repeat: no-repeat;
	background-image: url(../img/ajax-loader.gif);
	margin: 10px 0px;
}

.sdloader{
	text-align: center;
	margin: 5px;
}
.pagination{
    margin-top: 0px;
    margin-bottom: 0px;
}
.panel-footer {
    padding: 10px 10px 5px 10px;
}

.ui-autocomplete{
    overflow-y: scroll;
    overflow-x: hidden;
    height: 350px;
}

.stick-top {
    top: 0;
}
.stick-left {
    left: 0;
}

.black-ribbon {
    position: fixed;
    z-index: 999999;
    width: 70px;
}


.cicon_cal {
  margin-right: 5px; 
  padding: 2px 10px; 
  background-color:#ddd;
  border: 1px solid #ccc;
}

.nav.badge{
    background-color: #e02222;
}

#calItem{
    width: 400px;
}

#calItem .content{
    max-height: 500px;
    min-height: 70px;
    overflow-y: auto;
    padding: 0;
     margin-right: 0; 
     margin-left: 0; 
     padding-left: 0; 
     padding-right: 0; 
}

#calItem .title{
    padding: 10px;
    text-align: center;
    font-weight: bolder;
    border-bottom: solid 1px #DDD;
}
#calItem .footer{
    padding: 10px;
    text-align: center;
    font-weight: bolder;
    border-top: solid 1px #DDD;
}

.itemAvatar{
	position: relative;
}

.itemAvatar .items{
	display:block; 
	clear:left; 
	min-height: 66px;
	text-decoration:none; 
	white-space: normal; 
	border-bottom: solid 1px #DDD;
	background-color: #FFF;
	padding-bottom: 5px;
	padding-left: 8px;
}

.itemAvatar a.items:hover {
	background-color:#f5f5f5; 
	
}

.itemAvatar .items img{
	float:left; 
	padding:5px 10px; 
	width: 50px; 
	height: 50px; 
	margin-top: 3px;
}

.itemAvatar .items span.avatarheading{
	display:block; font-size: 14px; font-weight:bold; padding-top:5px; color:#222;
}

.itemAvatar .items span{
	display:block; padding-top:1px;color:#777;
}

.itemAvatar a.close.avatar{
	margin-right: 5px;
	padding: 5px;
}
.itemAvatar span.avatarType{
	position: absolute;
	right: 10px;
	bottom: 5px;
}

.displayNone{
	display:none; 
}