body > .header .logo {
  font-family: inherit;
}
body > .header .navbar .nav > li > a > .badge {
  position: absolute;
  top: 4px;
  right: 0;
  font-size: 75%;
}
body .navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a > .glyphicon,
body .navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a > .fa,
body .navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a > .ion {
  background: none;
  color: inherit;
}
body .user-panel > .info {
  padding-left: 10px;
}
body .table {
  word-break: break-all;
}
.fileUpload {
    position: relative;
    overflow: hidden;
}

.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

#showImg{
    width: 300px;
    height: 200px;
}

.disabledDisplay{
    display: none;
}

.show-in-line{
    position: absolute;
    left: 150px;
    top: 0px;
}

.sdloader-icon{
	display: inline-block;
	width: 16px;
	height: 11px;
	line-height: 11px;
	vertical-align: text-top;
	background-repeat: no-repeat;
	background-image: url(../img/ajax-loader.gif);
	margin: 10px 0px;
}

.sdloader{
	text-align: center;
	margin: 5px;
}
.pagination{
    margin-top: 0px;
    margin-bottom: 0px;
}
.panel-footer {
    padding: 10px 10px 5px 10px;
}

.ui-autocomplete{
    overflow-y: scroll;
    overflow-x: hidden;
    height: 350px;
}

iframe{
    position: relative;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 0px;
    outline: 0;
/*    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, .5);*/
}

.box-title{
    position: relative;
    display: inline-block;
    padding: 5px 5px;
    font-size: 28px;
    font-weight: 800;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 1.42857143;
    font-style: normal;
}

.box-title .box-arrow {
    bottom: 0;
    left: 50%;
    margin-left: -5px;
    border-width: 5px 5px 0;
    border-top-color: #000;
}

.box-inner {
    max-width: 200px;
    padding: 7px 20px 7px 20px;
    color: #fff;
    text-align: center;
    background-color: #000;
}

.box-arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
}

.colorpicker, .cp-color-picker{
    z-index: 5000;
}


.tooltip {
  z-index: 9999;
  font-size: 14px;
}

.tooltip-inner {
  max-width: 400px;
  color: #333;
  background-color: #e2e2e2;
}

.tooltip.top .tooltip-arrow, .tooltip.right .tooltip-arrow, .tooltip.bottom .tooltip-arrow, .tooltip.left .tooltip-arrow {
  border-top-color: #e2e2e2;
}


.tooltip .tooltip-arrow {
  border-top-color: #e2e2e2;
}

.display-none{
    display: none !important;
}

.display-block{
    display: block !important;
}

.display-fix-none{
    display: none !important;
}

.modal-xl {
    width: 1200px;
    
}
/*
.fullcalendar .fc-title{
    font-size: 12px;
    font-weight: 500;
}*/


.fc td, .fc th {
     border-left: 1px solid #ddd !important; 
     border-right: 1px solid #ddd !important; 
}

.table>thead>tr>th {
     border-bottom: 1px solid #ddd; 
}

.table-bordered>thead>tr>th, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>tbody>tr>td, .table-bordered>tfoot>tr>td {
     border: 1px solid #ddd; 
}

.table-bordered {
     border: 1px solid #ddd; 
}


input[type="radio"]:checked + span,
input[type="checkbox"]:checked + span {
    padding: 2px 4px;
    border: 1px solid #0095ff;
    background-color: #0095ff;
    color: #fff;
}

.radio input[type="text"], 
.checkbox input[type="text"], 
.radio-inline input[type="text"], 
.checkbox-inline input[type="text"] {
    display: inline-block; 
    width: inherit;
}

.radio input[type="radio"], 
.radio-inline input[type="radio"], 
.checkbox input[type="checkbox"], 
.checkbox-inline input[type="checkbox"] {
    position: inherit;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}